/* 

    Document   : MistSilverSkin
    Created on : Feb 25, 2013, 3:46:06 AM
    Author     : Farrukh Obaid
    Description: MistSilver Skin for JavaFX

*/

.root {       
    -fx-text-background-color: black;
    -fx-text-fill: black;
    -fx-text-base-color: black;
    -fx-text-inner-color: black;
    -fx-selection-bar-text:black;
}
/*******************************************************************************
 *                                                                             *
 * ScrollBar                   						       *
 *                                                                             *
 ******************************************************************************/
.scroll-bar{
    -fx-background-color: transparent;	
}
.scroll-bar:vertical .track {
    -fx-background-color: rgb(76,81,86),linear-gradient(to right,rgb(182,186,191) 0%,rgb(227,229,232) 80%);	
    -fx-border-color:transparent;
    -fx-background-radius: 9,9;
    -fx-background-insets: 0,1;	
}
.scroll-bar:horizontal .track {
    -fx-background-color: rgb(76,81,86),linear-gradient(to bottom,rgb(182,186,191) 0%,rgb(227,229,232) 80%);	
    -fx-border-color:transparent;	
    -fx-background-radius: 9,9;
    -fx-background-insets: 0,1;	
}
.scroll-bar:vertical .track-background {
    -fx-background-color: rgb(76,81,86);
    -fx-background-insets:  0;
    -fx-background-radius: 0;
}
.scroll-bar:horizontal .track-background {
    -fx-background-color: rgb(76,81,86);
    -fx-background-insets:  0;
    -fx-background-radius: 0;
}
.scroll-bar:vertical .thumb {
    -fx-background-color:rgb(76,81,86),linear-gradient(to right,rgb(235,236,240) 0%,rgb(211,214,218) 100%);
    -fx-background-insets: 0,1;
    -fx-background-radius: 9,9;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color:rgb(76,81,86),linear-gradient(to bottom,rgb(235,236,240) 0%,rgb(211,214,218) 100%);
    -fx-background-insets: 0,1;
    -fx-background-radius: 9,9;
}
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(76,81,86),linear-gradient(to right,rgb(169,178,193) 0%,rgb(152,163,175) 100%);	
    -fx-border-color:transparent;
    -fx-background-radius: 9,9;
    -fx-background-insets: 0,1;	
}
.scroll-bar:horizontal .thumb:pressed {
    -fx-background-color: rgb(76,81,86),linear-gradient(to bottom,rgb(169,178,193) 0%,rgb(152,163,175) 100%);	
    -fx-background-radius: 9,9;
    -fx-background-insets: 0,1;	
}
.scroll-bar:vertical .decrement-button {
    -fx-background-color:linear-gradient(to right,rgb(231,233,236) 0%,rgb(183,186,191) 100%);  
    -fx-background-radius: 0;
    -fx-padding: 6 4 6 4; 
    -fx-background-insets: 1 1 -8 1;   
}
.scroll-bar:vertical .increment-button{
    -fx-background-color:linear-gradient(to right,rgb(231,233,236) 0%,rgb(183,186,191) 100%);  
    -fx-background-radius: 0;
    -fx-padding: 6 4 6 4;
    -fx-background-insets: -8 1 1 1;
}
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:linear-gradient(to bottom,rgb(231,233,236) 0%,rgb(183,186,191) 100%);  
    -fx-background-radius: 0;
    -fx-padding: 4 6 4 6; 
    -fx-background-insets: 1 -8 1 1;   
}
.scroll-bar:horizontal .increment-button {
    -fx-background-color:linear-gradient(to bottom,rgb(231,233,236) 0%,rgb(183,186,191) 100%);  
    -fx-background-radius: 0;
    -fx-padding: 4 6 4 6;
    -fx-background-insets: 1 1 1 -8;   
}
.scroll-bar:vertical .increment-button:pressed, .scroll-bar:vertical .decrement-button:pressed{
    -fx-background-color:linear-gradient(to right,rgb(169,178,193) 0%,rgb(152,163,175) 100%);
}
.scroll-bar:horizontal .increment-button:pressed, .scroll-bar:horizontal .decrement-button:pressed{
    -fx-background-color:linear-gradient(to bottom,rgb(169,178,193) 0%,rgb(152,163,175) 100%);
}
.scroll-bar:horizontal .increment-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding:7 6 0 0;
    -fx-shape: "m 4.75,9.501 2.889,0 3.86,4.124 -3.86,4.125 -2.889,0 L 8.125,13.625 4.75,9.501 z";
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding:7 6 0 0;
    -fx-shape: "m 11.499,17.75 -2.889,0 -3.86,-4.124 3.86,-4.125 2.889,0 -3.375,4.125 3.375,4.124 z";	
}
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding: 6 7 0 0;
    -fx-shape: "m 12.249,10.251 0,2.889 L 8.125,17 4,13.14 l 0,-2.889 4.125,3.375 4.124,-3.375 z";		
}
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding: 6 7 0 0;
    -fx-shape: "m 4,17 0,-2.889 4.124,-3.86 4.125,3.86 0,2.889 L 8.124,13.625 4,17 z";
}
/*******************************************************************************
 *                                                                             *
 * Button    		                                 						   *
 *                                                                             *
 ******************************************************************************/
.button {   
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 0;    
    -fx-padding: 4 15 5 15;
}
.button:focused {	
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: -0.4,1,2,3; 
}
.button:focused:hover {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: -0.4,1,2,3;   
}
.button:hover {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0,1,2,3;   
}
.button:default {   
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,derive(rgb(222,223,228),-10%) 0%,derive(rgb(195,199,203),-10%) 100%);       
    -fx-background-insets: 0,1,2,3;
}
.button:default:hover {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,derive(rgb(222,223,228),15%) 0%,derive(rgb(195,199,203),15%) 100%);       
    -fx-background-insets: 0,1,2,3;   
}
.button:default:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,derive(rgb(222,223,228),-10%) 0%,derive(rgb(195,199,203),-10%) 100%);       
    -fx-background-insets: -0.4,1,2,3;
}
.button:default:focused:hover {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,derive(rgb(222,223,228),15%) 0%,derive(rgb(195,199,203),15%) 100%);       
    -fx-background-insets: -0.4,1,2,3;   
}
.button:focused:hover:pressed, .button:armed,
.button:default:focused:hover:pressed, .button:default:armed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);
    -fx-background-insets: -0.4,1,2,3;   
}
/*******************************************************************************
 *                                                                             *
 * ToggleButton                                                                *
 *                                                                             *
 ******************************************************************************/
.toggle-button {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 0;   
    -fx-padding: 4 15 5 15;
}
.toggle-button:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: -0.4,1,2,3;    
}
.toggle-button:hover {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0,1,2,3;    
}
.toggle-button:hover:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: -0.4,1,2,3;
}
.toggle-button:focused:pressed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);
    -fx-background-insets: -0.4,1,2,3;
}
.toggle-button:armed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);
    -fx-background-insets: -0.4,1,2,3;    
}
.toggle-button:focused:selected:armed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);
    -fx-background-insets: -0.4,1,2,3;    
}
.toggle-button:selected {
    -fx-background-color:transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(209,223,233) 0%,rgb(199,214,224) 100%);       
    -fx-background-insets: 0,1,2,3;   
    -fx-text-fill: -fx-text-base-color; 
}
.toggle-button:selected:focused {    
    -fx-background-color:rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(209,223,233) 0%,rgb(199,214,224) 100%);
    -fx-background-insets: -0.4,1,2,3;
}
/*******************************************************************************
 *                                                                             *
 * CheckBox                                                                    *
 *                                                                             *
 ******************************************************************************/
.check-box { 
}
.check-box .box {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1,2,3;    
    -fx-padding: 4;     
}
.check-box:focused .box {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: -0.4,1,2,3;    
    -fx-background-radius:0;
}
.check-box:hover .box {    
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0,1,2,3;
}
.check-box:focused:hover .box {   
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: -0.4,1,2,3;
}
.check-box:armed .box {    
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);
    -fx-background-insets: -0.4,1,2,3;
}
.check-box:focused:selected:armed .box {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);
    -fx-background-insets: -0.4,1,2,3;
}
.check-box:selected .box {
    -fx-background-color:transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(209,223,233) 0%,rgb(199,214,224) 100%);       
    -fx-background-insets: 0,1,2,3;
    -fx-padding: 4;
}
.check-box:selected:focused .box {
    -fx-background-color:rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(209,223,233) 0%,rgb(199,214,224) 100%);
    -fx-background-insets: -0.4,1,2,3;
}
.check-box:focused:pressed .box {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);
    -fx-background-insets: -0.4,1,2,3;
}
.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 4;   
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";    
}
.check-box:indeterminate .mark {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M0,0H8V2H0Z";
    -fx-scale-shape: false;
}
.check-box:selected .mark {
    -fx-background-color: -fx-mark-color;    
}
/*******************************************************************************
 *                                                                             *
 * RadioButton                                                                 *
 *                                                                             *
 ******************************************************************************/
.radio-button {    
}
.radio-button .radio  {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), rgb(222,223,228) ,rgb(195,199,203);
    -fx-background-insets: 0,1,2,3,4;  
    -fx-background-radius: 1.0em;
    -fx-padding: 5;
}
.radio-button:focused .radio {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), rgb(222,223,228) ,rgb(195,199,203);
    -fx-background-insets: -0.4,1,2,3,4;
    -fx-background-radius: 1.0em;   
}
.radio-button:hover .radio {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), rgb(237,239,245),rgb(211,214,217);
    -fx-background-insets: 0,1,2,3,4;
}
.radio-button:hover:focused .radio {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), rgb(237,239,245),rgb(211,214,217);
    -fx-background-insets: -0.4,1,2,3,4;
}
.radio-button:focused:pressed .radio {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), rgb(168,177,190),rgb(140,150,162);
    -fx-background-insets: -0.4,1,2,3,4;	
}
.radio-button:selected .radio {
    -fx-background-color: transparent,rgb(76,81,86),rgb(200,202,207),rgb(199,214,224);       
    -fx-background-insets: 0,1,2,2.5;
}
.radio-button:selected:focused .radio {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),rgb(200,202,207),rgb(199,214,224);       
    -fx-background-insets: -0.4,1,2,2.5;
}
.radio-button:armed .radio {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%),rgb(168,177,190),rgb(140,150,162);
    -fx-background-insets: -0.4,1,2,3,4;
}
.radio-button:focused:selected:armed .radio {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),rgb(168,177,190),rgb(140,150,162);
    -fx-background-insets: -0.4,1,2,3,4;
}
.radio-button .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 1.0em;
    -fx-padding: 3;
}
.radio-button:selected .dot {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
}
/*******************************************************************************
 *                                                                             *
 * Separator                                                                   *
 *                                                                             *
 ******************************************************************************/
.separator {  
}
.separator .line {
    -fx-border-style: none;    
    -fx-border-width: 1;
}
.separator:horizontal .line {    
    -fx-background-color: rgb(238,239,242),linear-gradient(to right,rgb(228,233,238) 0%,rgb(120,125,130) 15%,rgb(120,125,130) 85%,rgb(228,233,238) 100%);
    -fx-background-insets: 1 1 0 1,1;
}
.separator:vertical .line {    
    -fx-background-color: rgb(238,239,242), linear-gradient(to bottom,rgb(228,233,238) 0%,rgb(120,125,130) 15%,rgb(120,125,130) 85%,rgb(228,233,238) 100%);
    -fx-background-insets: 1 0 1 1,1;
}
/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/
.slider {
}
.slider .thumb {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 1.0em;
    -fx-padding: 7;
}
.slider:focused .thumb {    
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: -0.4,1,2,3;
    -fx-background-radius: 1.0em;
}
.slider .thumb:hover {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0,1,2,3;
}
.slider:focused .thumb:hover {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: -0.4,1,2,3;
}
.slider:focused .thumb:pressed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);
    -fx-background-insets: -0.4,1,2,3;
}
.slider .track {
    -fx-background-color: transparent,rgb(76,81,86),rgb(191,195,199);
    -fx-background-insets: 0,1,2;    
    -fx-background-radius: 5;
    -fx-padding: 3.5;
}
.slider:vertical .track {
    -fx-background-color: transparent,rgb(76,81,86),rgb(191,195,199);
    -fx-background-insets: 0,1,2;
}
.slider .axis:bottom {
    -fx-border-color: rgb(76,81,86) transparent transparent transparent;
}
.slider .axis-tick-mark, .slider .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: rgb(76,81,86);
}
/*******************************************************************************
 *                                                                             *
 * ProgressBar                                                                 *
 *                                                                             *
 ******************************************************************************/
.progress-bar {
    -fx-background-color:transparent;
}
.progress-bar .track {
    -fx-background-color: transparent,rgb(76,81,86),rgb(209,214,219),linear-gradient(to bottom,rgb(216,217,222) 0%,rgb(194,197,201) 100%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 0;
    -fx-padding: 8;
}
.progress-bar .bar {
    -fx-background-color: rgb(180,194,205),linear-gradient(to bottom,rgb(211,226,236) 0%,rgb(193,208,218) 50%,rgb(193,208,218) 50%, rgb(211,226,236) 100%);
    -fx-background-insets: 2,3;
    -fx-background-radius: 0;    
}
.progress-bar:indeterminate .bar {  
    -fx-background-color: rgb(180,194,205),linear-gradient(to bottom,rgb(211,226,236) 0%,rgb(193,208,218) 50%,rgb(193,208,218) 50%, rgb(211,226,236) 100%);
    -fx-background-insets: 2,3;
    -fx-background-radius: 0;    
}
/*******************************************************************************
 *                                                                             *
 * ProgressIndicator                                                           *
 *                                                                             *
 ******************************************************************************/
.progress-indicator {    
    -fx-progress-color: transparent;    
}
.progress-indicator .indicator {
    -fx-background-color: rgb(76,81,86),rgb(209,214,219),rgb(224,226,229);
    -fx-background-insets: 0,1,2;
}
.progress-indicator .progress {
    -fx-background-color: rgb(193,208,218);    
    -fx-background-insets: 1;
    -fx-padding: 1em; 
}
.progress-indicator:indeterminate .spinner {	
    -fx-padding: 0.75em;  
}
.progress-indicator:indeterminate {
    -fx-progress-color: rgb(193,208,218);
}
/*******************************************************************************
 *                                                                             *
 * ListView                                                                    *
 *                                                                             *
 ******************************************************************************/
.list-cell,
.list-cell:empty, .list-cell:odd:empty,
.list-view .list-cell:hover:empty,
.list-view .list-cell:odd:hover:empty {   
    -fx-background-color: rgb(228,233,238);     
}
.list-cell:odd {
    -fx-background-color: rgb(218,223,228);
}
.list-view { 
    -fx-background-color: transparent,rgb(76,81,86),rgb(228,233,238);
    -fx-background-insets: 0,0,1;    
}
.list-view:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),rgb(228,233,238);
    -fx-background-insets: -1.4,0,1;
}
.list-view:focused .list-cell:filled:selected,
.list-view:focused .list-cell:filled:selected:hover {
    -fx-background-color: rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 30%,rgb(207,219,228) 50%,rgb(213,224,233) 80%);
    -fx-background-insets: 0,1;
}
.list-view:focused .list-cell:filled:focused:selected,
.list-view:focused .list-cell:odd:filled:selected:focused:hover {
    -fx-background-color: rgb(140,145,152), rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 30%,rgb(207,219,228) 50%,rgb(213,224,233) 80%);
    -fx-background-insets: 0,1,2; 
}
.list-view:focused .list-cell:focused {
    -fx-background-color: rgb(140,145,152),linear-gradient(to bottom,rgb(217,221,225) 0%,rgb(215,219,223) 30%,rgb(215,219,223) 50%,rgb(223,227,231) 80%);
    -fx-background-insets: 0,1;
}
.list-view .list-cell:hover,
.list-view .list-cell:odd:hover, 
.list-view:focused .list-cell:odd:focused:hover,
.list-view:focused .list-cell:focused:hover {
    -fx-background-color: rgb(140,145,152), rgb(213,216,221), linear-gradient(to bottom,rgb(217,221,225) 0%,rgb(215,219,223) 30%,rgb(215,219,223) 50%,rgb(223,227,231) 80%);
    -fx-background-insets: 0,1,2;
}
.list-view .list-cell:selected,
.list-view .list-cell:odd:focused:hover {
    -fx-background-color: rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 30%,rgb(207,219,228) 50%,rgb(213,224,233) 80%);
    -fx-background-insets: 0,1;
}
.list-view .corner {
    -fx-background-color: rgb(76,81,86),rgb(195,199,203);
    -fx-background-insets: 0 -1 -1 0 ,1 0 0 1;  
}
.list-view .scroll-bar:vertical .track-background {
    -fx-background-insets: -1 -1 -1 0;
}
.list-view .scroll-bar:vertical .track {
    -fx-background-insets: -1 -1 -1 0, 0 0 0 1;
}
.list-view .scroll-bar:vertical .thumb {
    -fx-background-insets: -1 -1 -1 0, 0 0 0 1;
}
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-insets: 0 0 -8 1;
    -fx-padding: 6 3 6 4;
}
.list-view .scroll-bar:vertical .increment-button {
    -fx-background-insets: -8 0 0 1;
    -fx-padding: 6 3 6 4;
}
.list-view .scroll-bar:horizontal .track-background {
    -fx-background-insets: 0 -1 -1 -1;
}
.list-view .scroll-bar:horizontal .track {
    -fx-background-insets: 0 -1 -1 -1, 1 0 0 0;
}
.list-view .scroll-bar:horizontal .thumb {
    -fx-background-insets: 0 -1 -1 -1, 1 0 0 0;
}
.list-view .scroll-bar:horizontal .decrement-button {	
    -fx-background-insets: 1 -8 0 0;
    -fx-padding: 3 6 4 6;
}
.list-view .scroll-bar:horizontal .increment-button {
    -fx-background-insets: 1 0 0 -8;
    -fx-padding: 3 6 4 6;
}
/*******************************************************************************
 *                                                                             *
 * TreeView and TreeCell                                                       *
 *                                                                             *
 ******************************************************************************/
.tree-cell {
    -fx-background-color: rgb(228,233,238);     
}
.tree-cell:odd {
    -fx-background-color: rgb(218,223,228);
}
.tree-cell:empty, .tree-cell:odd:empty {
    -fx-background-color: rgb(228,233,238);
}
.tree-cell .tree-cell:hover:empty,
.tree-cell .tree-cell:odd:hover:empty {
    -fx-background-color: rgb(228,233,238);
}
.tree-view {
    -fx-background-color: transparent,rgb(76,81,86),rgb(228,233,238);
    -fx-background-insets: 0,0,1;
}
.tree-view:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),rgb(228,233,238);
    -fx-background-insets: -1.4,0,1;
}
.tree-view .tree-cell:hover {
    -fx-background-color: rgb(140,145,152), rgb(213,216,221), linear-gradient(to bottom,rgb(217,221,225) 0%,rgb(215,219,223) 30%,rgb(215,219,223) 50%,rgb(223,227,231) 80%);
    -fx-background-insets: 0,1,2;
}
.tree-view .tree-cell:filled:selected:hover {
    -fx-background-color: rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 30%,rgb(207,219,228) 50%,rgb(213,224,233) 80%);
    -fx-background-insets: 0,1; 
}
.tree-view:focused .tree-cell:focused {
    -fx-background-color: rgb(140,145,152),linear-gradient(to bottom,rgb(217,221,225) 0%,rgb(215,219,223) 30%,rgb(215,219,223) 50%,rgb(223,227,231) 80%);
    -fx-background-insets: 0,1;   
}
.tree-view:focused .tree-cell:focused:hover {
    -fx-background-color: rgb(140,145,152), rgb(213,216,221), linear-gradient(to bottom,rgb(217,221,225) 0%,rgb(215,219,223) 30%,rgb(215,219,223) 50%,rgb(223,227,231) 80%);
    -fx-background-insets: 0,1,2;  
}
.tree-view:focused .tree-cell:filled:focused:selected,
.tree-view:focused .tree-cell:filled:focused:selected:hover {
    -fx-background-color: rgb(140,145,152), rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 30%,rgb(207,219,228) 50%,rgb(213,224,233) 80%);
    -fx-background-insets: 0,1,2; 
}
.tree-cell:filled:selected:focused, .tree-cell:filled:selected {
    -fx-background-color: rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 30%,rgb(207,219,228) 50%,rgb(213,224,233) 80%);
    -fx-background-insets: 0,1;  
}
.tree-cell .tree-disclosure-node .arrow {
    -fx-shape: "m 4.75,9.501 2.889,0 3.86,4.124 -3.86,4.125 -2.889,0 L 8.125,13.625 4.75,9.501 z";
    -fx-padding:7 6 0 0;   
}
.tree-cell:expanded .tree-disclosure-node .arrow {		
    -fx-rotate: 90;
}
.tree-cell:filled .tree-disclosure-node .arrow,
.tree-cell:filled:hover .tree-disclosure-node .arrow {
    -fx-background-color: -fx-mark-color;
}
.tree-cell .tree-disclosure-node {
    -fx-padding: 5 8 5 5;    
}
.tree-view .corner {
    -fx-background-color: rgb(76,81,86),rgb(195,199,203);
    -fx-background-insets: 0 -1 -1 0 ,1 0 0 1;  
}
.tree-view .scroll-bar:vertical .track-background {
    -fx-background-insets: -1 -1 -1 0;
}
.tree-view .scroll-bar:vertical .track {
    -fx-background-insets: -1 -1 -1 0, 0 0 0 1;
}
.tree-view .scroll-bar:vertical .thumb {
    -fx-background-insets: -1 -1 -1 0, 0 0 0 1;
}
.tree-view .scroll-bar:vertical .decrement-button {
    -fx-background-insets: 0 0 -8 1;
    -fx-padding: 6 3 6 4;
}
.tree-view .scroll-bar:vertical .increment-button {
    -fx-background-insets: -8 0 0 1;
    -fx-padding: 6 3 6 4;
}
.tree-view .scroll-bar:horizontal .track-background {
    -fx-background-insets: 0 -1 -1 -1;
}
.tree-view .scroll-bar:horizontal .track {
    -fx-background-insets: 0 -1 -1 -1, 1 0 0 0;
}
.tree-view .scroll-bar:horizontal .thumb {
    -fx-background-insets: 0 -1 -1 -1, 1 0 0 0;
}
.tree-view .scroll-bar:horizontal .decrement-button {	
    -fx-background-insets: 1 -8 0 0;
    -fx-padding: 3 6 4 6;
}
.tree-view .scroll-bar:horizontal .increment-button {
    -fx-background-insets: 1 0 0 -8;
    -fx-padding: 3 6 4 6;
}
/*******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/
.table-cell {  
    -fx-border-color: transparent rgb(143,148,153) transparent transparent;  
}
.table-view {    
    -fx-background-color: transparent,rgb(76,81,86),rgb(228,233,238);
    -fx-background-insets: 0,0,1;        
}
.table-view:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),rgb(228,233,238);
    -fx-background-insets: -1.4,0,1;
}
.table-row-cell {    
    -fx-background-color: rgb(143,148,153),rgb(228,233,238);
    -fx-background-insets: 0, 0 0 1 0; 
}
.table-row-cell:odd {
    -fx-background-color: rgb(143,148,153),rgb(218,223,228);   
    -fx-background-insets: 0, 0 0 1 0; 
}
.table-view:focused .table-row-cell:focused,.table-view:focused .table-row-cell:focused:odd {
    -fx-background-color: rgb(143,148,153),linear-gradient(to bottom,rgb(217,221,225) 0%,rgb(215,219,223) 30%,rgb(215,219,223) 50%,rgb(223,227,231) 80%);
    -fx-background-insets: 0,0 1 1 1;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: rgb(143,148,153), rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 30%,rgb(207,219,228) 50%,rgb(213,224,233) 80%);
    -fx-background-insets: 0,0 1 1 1,2; 
}
.table-view:focused .table-row-cell:filled:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {    
    -fx-background-color: rgb(143,148,153), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 30%,rgb(207,219,228) 50%,rgb(213,224,233) 80%);
    -fx-background-insets: 0,0 1 1 1;    
}
.table-view:focused .table-row-cell:filled:focused:selected:hover {    
    -fx-background-color: rgb(143,148,153), rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 30%,rgb(207,219,228) 50%,rgb(213,224,233) 80%);
    -fx-background-insets: 0,0 1 1 1,2;     
}
.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: rgb(143,148,153), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 30%,rgb(207,219,228) 50%,rgb(213,224,233) 80%);
    -fx-background-insets: 0,0 1 1 1;
}
.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color:  rgb(143,148,153),linear-gradient(to bottom,rgb(217,221,225) 0%,rgb(215,219,223) 30%,rgb(215,219,223) 50%,rgb(223,227,231) 80%);
    -fx-background-insets: 0,0 1 1 1;
}
.table-view:row-selection .table-row-cell:filled:focused:hover { 
    -fx-background-color: rgb(143,148,153), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 30%,rgb(207,219,228) 50%,rgb(213,224,233) 80%);
    -fx-background-insets: 0,0 1 1 1;
}
.table-view:focused .table-row-cell:filled:focused:hover {
    -fx-background-color: rgb(143,148,153),linear-gradient(to bottom,rgb(217,221,225) 0%,rgb(215,219,223) 30%,rgb(215,219,223) 50%,rgb(223,227,231) 80%);
    -fx-background-insets: 0,0 1 1 1;
}
.table-view .column-header-background {
    -fx-background-color: transparent;   
}
.table-view .column-header .label {
    -fx-font-size:12;
}
.table-view .column-header {		
    -fx-background-color: linear-gradient(to bottom,rgb(202,205,209) 10%,rgb(191,195,199) 50%,rgb(191,195,199) 50%, rgb(212,214,218) 80%);    
    -fx-border-color: rgb(143,148,153);
    -fx-border-insets: -1 0 0 -1;    
}
.table-view .filler {		
    -fx-background-color: linear-gradient(to bottom,rgb(202,205,209) 10%,rgb(191,195,199) 50%,rgb(191,195,199) 50%, rgb(212,214,218) 80%);    
    -fx-background-insets: 0 4 0 0;
    -fx-border-color: rgb(143,148,153);
    -fx-border-insets: -1 -2 0 -1;        
}
.table-view .show-hide-columns-button {
    -fx-background-color: linear-gradient(to bottom,rgb(202,205,209) 10%,rgb(191,195,199) 50%,rgb(191,195,199) 50%, rgb(212,214,218) 80%);    
    -fx-background-insets: 0;
    -fx-border-color: rgb(143,148,153);
    -fx-border-insets: -1 -2 0 0;    
}
.table-view .show-hide-column-image {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;  
}
.table-view .column-drag-header {    
    -fx-background-color: rgb(193,208,218) ;
    -fx-opacity: 1;
}
.table-view .column-drag-header .label {    
    -fx-text-fill: white;  
}
.table-view .column-resize-line {  
    -fx-background-color: rgb(76,81,86);
}
.table-view .column-overlay {
    -fx-background-color: darkgray;
    -fx-opacity: 0.2;
}
.table-view .arrow {
    -fx-padding: 0.2em;
    -fx-shape: "m 4,17 0,-2.889 4.124,-3.86 4.125,3.86 0,2.889 L 8.124,13.625 4,17 z";
}
.table-view .corner {
    -fx-background-color: rgb(76,81,86),rgb(195,199,203);
    -fx-background-insets: 0 -1 -1 0 ,1 0 0 1;  
}
.table-view .scroll-bar:vertical .track-background {
    -fx-background-insets: -1 -1 -1 0;
}
.table-view .scroll-bar:vertical .track {
    -fx-background-insets: -1 -1 -1 0, 0 0 0 1;
}
.table-view .scroll-bar:vertical .thumb {
    -fx-background-insets: -1 -1 -1 0, 0 0 0 1;
}
.table-view .scroll-bar:vertical .decrement-button {
    -fx-background-insets: 0 0 -8 1;
    -fx-padding: 6 3 6 4;
}
.table-view .scroll-bar:vertical .increment-button {
    -fx-background-insets: -8 0 0 1;
    -fx-padding: 6 3 6 4;
}
.table-view .scroll-bar:horizontal .track-background {
    -fx-background-insets: 0 -1 -1 -1;
}
.table-view .scroll-bar:horizontal .track {
    -fx-background-insets: 0 -1 -1 -1, 1 0 0 0;
}
.table-view .scroll-bar:horizontal .thumb {
    -fx-background-insets: 0 -1 -1 -1, 1 0 0 0;
}
.table-view .scroll-bar:horizontal .decrement-button {	
    -fx-background-insets: 1 -8 0 0;
    -fx-padding: 3 6 4 6;
}
.table-view .scroll-bar:horizontal .increment-button {
    -fx-background-insets: 1 0 0 -8;
    -fx-padding: 3 6 4 6;
}
/*******************************************************************************
 *                                                                             *
 * SplitPane                                                                   *
 *                                                                             *
 ******************************************************************************/
.split-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 1;
}
.split-pane *.split-pane-divider {
    -fx-padding: 0 5 0 5;
}
.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-background-color: transparent, rgb(228,233,238);
    -fx-background-insets: 0, 0 1 0 1;
}
.split-pane:vertical > .split-pane-divider {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-background-color: transparent, rgb(228,233,238);
    -fx-background-insets: 0, 1 0 1 0;
}
.split-pane *.horizontal-grabber {    
    -fx-padding:7.5 1.5 7.5 1.5;
    -fx-shape: "M0 0 L0 0 L2 0 L2 2 L0 2 Z M0 4 L0 4 L2 4 L2 6 L0 6 Z M0 8 L0 8 L2 8 L2 10 L0 10 Z";  
    -fx-background-color: rgb(81,87,92);
    -fx-background-insets:0;
}
.split-pane *.vertical-grabber {
    -fx-padding:1.5 7.5 1.5 7.5;    
    -fx-background-color: rgb(81,87,92);
    -fx-background-insets: 0;
    -fx-shape: "M0 0 L0 0 L2 0 L2 2 L0 2 Z M4 0 L4 0 L4 2 L6 2 L6 0 Z M8 0 L8 0 L8 2 L10 2 L10 0 Z";
}
/*******************************************************************************
*                                                                              *
* ScrollPane                                                                   *
*                                                                              *
*******************************************************************************/
.scroll-pane {    
    -fx-background-color: transparent, rgb(76,81,86), rgb(228,233,238);
    -fx-background-insets: 0,0,1;
    -fx-padding: 1.0;    
}
.scroll-pane:focused {
    -fx-background-color:  rgb(76,81,86),  rgb(76,81,86), rgb(228,233,238);    
    -fx-background-insets: -1.4, 0, 1;
}
.scroll-pane .corner {
    -fx-background-color: rgb(76,81,86), rgb(195,199,203);
    -fx-background-insets: 0, 1 1 1 1;
}
/*******************************************************************************
*                                                                              *
* ComboBoxBase                                                                 *
*                                                                              *
*******************************************************************************/
.combo-box-base  {    
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1,2,3;    
    -fx-background-radius: 0;    
    -fx-padding: 0;
}
.combo-box-base:hover {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 0;
}
.combo-box-base:focused:showing, .combo-box-base:focused:showing:hover {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),  rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
    -fx-background-insets: -0.4,1,2,3;    
    -fx-background-radius: 0;
}
.combo-box-base:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: -0.4,1,2,3;    
    -fx-background-radius: 0;
}
.combo-box-base:focused:hover {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: -0.4,1,2,3;
    -fx-background-radius: 0;
}
.combo-box-base:focused:pressed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),  rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
    -fx-background-insets: -0.4,1,2,3;    
    -fx-background-radius: 0;
}
.combo-box-base .arrow-button {
    -fx-background-color: rgb(76,81,86),linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 1,2,3 3 3 2;
    -fx-background-radius: 0;
    -fx-padding: 6 7 6 7;
}
.combo-box-base:hover .arrow-button{
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 1,2,3 3 3 2;    
}
.combo-box-base:editable:hover .arrow-button,
.combo-box-base:editable:focused:pressed .arrow-button {
    -fx-background-color: rgb(76,81,86),linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 1,2,3 3 3 2;
}
.combo-box-base:editable .arrow-button:hover{
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 1,2,3 3 3 2;    
}
.combo-box-base:editable:focused .arrow-button:pressed{
    -fx-background-color: rgb(76,81,86),rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
    -fx-background-insets: 1,2,3 3 3 2;    
}
.combo-box-base:focused:pressed .arrow-button,
.combo-box-base:focused:showing .arrow-button,
.combo-box-base:focused:showing:hover .arrow-button {
    -fx-background-color: rgb(76,81,86),rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
    -fx-background-insets: 1,2,3 3 3 2;    
}
.combo-box-base .arrow {    
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding: 6 7 0 0;
    -fx-shape: "m 12.249,10.251 0,2.889 L 8.125,17 4,13.14 l 0,-2.889 4.125,3.375 4.124,-3.375 z";    
}
.combo-box-base:editable .combo-box-base {
    -fx-background-color:transparent;
} 
.combo-box-base:editable .text-field {
    -fx-padding: 3 4 2 4;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0;
}
.combo-box-base:editable:hover .text-field {
    -fx-background-color: transparent,rgb(76,81,86),rgb(244,246,249);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0;
}
.combo-box-base:editable .text-field:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),rgb(244,246,249); 
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 0;
}
/*******************************************************************************
 *                                                                             *
 * SplitMenuButton                                                             *
 *                                                                             *
 ******************************************************************************/
.split-menu-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}
.split-menu-button:focused {    
    -fx-background-color: rgb(76,81,86);
    -fx-background-insets: -0.4;
    -fx-background-radius: 0;
}
.split-menu-button .label {   
    -fx-background-color: transparent,rgb(76,81,86),linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0, 1 -1 1 1, 2 0 2 2, 3 0 3 3;    
    -fx-background-radius: 0;
    -fx-padding: 4 18 5 10;    
}
.split-menu-button .label:hover {
    -fx-background-color:  transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
}
.split-menu-button:armed .label, .split-menu-button .label:pressed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),  rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
}
.split-menu-button .arrow-button {
    -fx-background-color:  transparent,rgb(76,81,86),linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0, 1 1 1 0, 2 2 2 1, 3 3 3 1;
    -fx-background-radius: 0;
    -fx-padding: 4 7 6 7;
}
.split-menu-button .arrow-button:hover {
    -fx-background-color:  transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0, 1 1 1 0, 2 2 2 1, 3 3 3 1;
}
.split-menu-button .arrow-button:pressed {
    -fx-background-color: transparent,rgb(76,81,86),rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
    -fx-background-insets: 0, 1 1 1 0, 2 2 2 1, 3 3 3 1;    
}
.split-menu-button .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding:7 6 0 0;
    -fx-shape: "m 4.75,9.501 2.889,0 3.86,4.124 -3.86,4.125 -2.889,0 L 8.125,13.625 4.75,9.501 z";    
}
.split-menu-button:openvertically .arrow-button {
    -fx-padding: 4 7 6 6;
}
.split-menu-button:openvertically .arrow {
    -fx-padding: 6 7 0 0;
    -fx-shape: "m 12.249,10.251 0,2.889 L 8.125,17 4,13.14 l 0,-2.889 4.125,3.375 4.124,-3.375 z";    
}
/*******************************************************************************
*                                                                              *
* ComboBox                                                                     * 
*                                                                              *
*******************************************************************************/
.combo-box {
}
.combo-box .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 4 0 5 7;    
}
.combo-box-popup .list-view {	
    -fx-background-color: rgb(76,81,86),rgb(228,233,238);
    -fx-background-insets: 0,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 8, 0.0 , 0 , -2 );
}
/*******************************************************************************
 *                                                                             *
 * ChoiceBox                                                                   *
 *                                                                             *
 ******************************************************************************/
.choice-box {   
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1,2,3;    
    -fx-background-radius: 0;         
    -fx-padding: 2 6 2 2;   
}
.choice-box:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: -0.4,1,2,3;    
    -fx-background-radius: 0;
}
.choice-box:hover {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 0;
}
.choice-box:hover:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: -0.4,1,2,3;
    -fx-background-radius: 0;
}
.choice-box:showing, .choice-box:focused:showing:hover {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),  rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
    -fx-background-insets: -0.4,1,2,3;    
    -fx-background-radius: 0;
}
.choice-box:focused:pressed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),  rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
    -fx-background-insets: -0.4,1,2,3;    
    -fx-background-radius: 0;
}
.choice-box .label {
    -fx-padding: 2 4 3 6;
}
.choice-box .open-button {
    -fx-background-color: null;
    -fx-padding: 6 1 6 7;
}
.choice-box .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0; 
    -fx-padding: 6 7 0 0;
    -fx-shape: "m 12.249,10.251 0,2.889 L 8.125,17 4,13.14 l 0,-2.889 4.125,3.375 4.124,-3.375 z";    
}
/*******************************************************************************
 *                                                                             *
 * MenuButton                                                                  *
 *                                                                             *
 ******************************************************************************/
.menu-button {
    -fx-background-color: transparent,rgb(76,81,86),linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1,2,3;    
    -fx-background-radius: 0;   
}
.menu-button:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: -0.4,1,2,3;   
}
.menu-button:hover {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0,1,2,3;
}
.menu-button:focused:hover {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: -0.4,1,2,3;
}
.menu-button:armed , .menu-button:focused:pressed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),  rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
    -fx-background-insets: -0.4,1,2,3;    
    -fx-background-radius: 0;
}
.menu-button .label {
    -fx-padding: 4 18 5 10;
}
.menu-button .arrow-button {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 6 7 6 6;
}
.menu-button .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding:7 6 0 0;
    -fx-shape: "m 4.75,9.501 2.889,0 3.86,4.124 -3.86,4.125 -2.889,0 L 8.125,13.625 4.75,9.501 z";
}
.menu-button:openvertically .arrow {
    -fx-padding: 6 7 0 0;
    -fx-shape: "m 12.249,10.251 0,2.889 L 8.125,17 4,13.14 l 0,-2.889 4.125,3.375 4.124,-3.375 z";    
}
/*******************************************************************************
 *                                                                             *
 * TextInput                                                                   *
 *                                                                             *
 ******************************************************************************/
.text-input {
    -fx-highlight-fill: rgb(188,191,194);
}
/*******************************************************************************
 *                                                                             *
 * TextField                                                                   *
 *                                                                             *
 ******************************************************************************/
.text-field {    
    -fx-background-color: transparent,rgb(76,81,86),rgb(236,238,241);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
    -fx-padding: 3 5 3 5;    
    -fx-prompt-text-fill: derive(white,-30%);
}
.text-field:hover {
    -fx-background-color: transparent,rgb(76,81,86),rgb(244,246,249);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
}
.text-field:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),rgb(244,246,249);
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 0;    
}
/*******************************************************************************
 *                                                                             *
 * PasswordField                                                               *
 *                                                                             *
 ******************************************************************************/
.password-field {    

}
/*******************************************************************************
 *                                                                             *
 * TextArea                                                                    *
 *                                                                             *
 ******************************************************************************/
.text-area {   
    -fx-background-color: transparent,rgb(76,81,86),rgb(236,238,241);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0;
    -fx-padding: 1;
    -fx-prompt-text-fill: derive(white,-30%);
}
.text-area:hover {
    -fx-background-color: transparent,rgb(76,81,86),rgb(244,246,249);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0;
}
.text-area:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),rgb(244,246,249);
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 0;    
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
/*******************************************************************************
 *                                                                             *
 * TabPane                                                                     *
 *                                                                             *
 ******************************************************************************/
.tab-pane {    
    -fx-tab-min-width: 30; 
    -fx-tab-min-height: 20;
    -fx-tab-max-height: 24;
}
.tab {
    -fx-background-insets: 0,1 1 0 1, 2 2 0 2;
    -fx-background-radius: 6 6 0 0, 5 5 0 0, 4 4 0 0;
    -fx-padding: 1 6 1 6;
}
.tab:top, .tab:right, .tab:left, .tab:bottom {
    -fx-background-color: rgb(152,157,162),linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);    	
}
.tab:top:hover, .tab:right:hover, .tab:left:hover, .tab:bottom:hover {
    -fx-background-color: rgb(152,157,162),linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);   	
}
.tab-content-area {
    -fx-background-color: linear-gradient(to bottom,rgb(76,81,86) 0%,rgb(190,200,209) 100%),rgb(228,233,238), linear-gradient(to bottom,rgb(76,81,86) 0%,rgb(190,200,209) 10%),rgb(228,233,238);
    -fx-background-insets: 0, 1, 3 0 0 0, 4 1 1 1  
}
.tab-pane:left .tab-content-area {
    -fx-background-color: linear-gradient(to right,rgb(76,81,86) 0%,rgb(190,200,209) 100%), rgb(228,233,238), linear-gradient(to right,rgb(76,81,86) 0%,rgb(190,200,209) 10%), rgb(228,233,238);
    -fx-background-insets: 0, 1, 0 0 0 3, 1 1 1 4;    
}
.tab-pane:bottom .tab-content-area {
    -fx-background-color: linear-gradient(to top,rgb(76,81,86) 0%,rgb(190,200,209) 100%), rgb(228,233,238), linear-gradient(to top,rgb(76,81,86) 0%,rgb(190,200,209) 10%), rgb(228,233,238);
    -fx-background-insets: 0, 1, 0 0 3 0, 1 1 4 1;    
}
.tab-pane:right .tab-content-area {
    -fx-background-color: linear-gradient(to left,rgb(76,81,86) 0%,rgb(190,200,209) 100%), rgb(228,233,238), linear-gradient(to left,rgb(76,81,86) 0%,rgb(190,200,209) 10%), rgb(228,233,238);
    -fx-background-insets: 0, 1, 0 3 0 0, 1 4 1 1;    
}
.tab:selected, .tab:selected:hover {
    -fx-background-color: rgb(76,81,86),rgb(201,211,220), linear-gradient(to bottom,rgb(208,223,232) 0%,rgb(202,217,226) 30%,rgb(202,217,226) 50%,rgb(228,233,238) 80%);    
    -fx-background-insets: 0, 1 1 0 1, 2 2 0 2;
    -fx-background-radius: 6 6 0 0, 5 5 0 0, 4 4 0 0;
}
.tab-pane *.tab-header-background {
    -fx-background-color: transparent, transparent, transparent;
    -fx-effect: null;
}
.tab-pane .headers-region {
    -fx-effect: null;
}
.tab-close-button {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    -fx-scale-shape: false;    
    -fx-background-insets: 7;
}
.tab-close-button:hover {
    -fx-background-color: white;
}
.control-buttons-tab {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%);
    -fx-background-insets: 0 0 1 0,1;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 1 3 1 3;
}
.tab-down-button {
    -fx-background-color: linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 1 -1 3 -1;
    -fx-background-radius: 3 3 0 0;
}
.tab-down-button:hover {
    -fx-background-color: linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);      
}
.tab-down-button:pressed {
    -fx-background-color: linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);	    
}
.tab-down-button .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding: 2.5 3.5 2.5 3.5;    
    -fx-shape: "m 12.249,10.251 0,2.889 L 8.125,17 4,13.14 l 0,-2.889 4.125,3.375 4.124,-3.375 z";
}
/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/
.context-menu {    
    -fx-background-color: rgb(76,81,86), rgb(209,214,219), rgb(228,233,238);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0;
    -fx-padding: 2 2 2 2;  
}
.context-menu .separator {
    -fx-padding: 2 4 2 4;
}
.context-menu .scroll-arrow {
    -fx-padding: 6;
    -fx-background-color: rgb(228,233,238);
}
.context-menu .scroll-arrow:hover {
    -fx-padding: 6;
    -fx-background-color: derive(rgb(228,233,238), 30%);    
}
.context-menu .scroll-arrow:hover .menu-down-arrow,.context-menu .scroll-arrow:hover .menu-up-arrow {
    -fx-background-color: -fx-mark-color;
}
/*******************************************************************************
 *                                                                             *
 * Menu                                                                        *
 *                                                                             *
 ******************************************************************************/
.menu {
    -fx-background-color: transparent;
    -fx-padding: 4 5 4 5;
}
.menu-bar .menu .arrow {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-shape: null;
}
.menu-bar .menu .arrow-button {
    -fx-padding: 0;
}
.menu .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "m 4.75,9.501 2.889,0 3.86,4.124 -3.86,4.125 -2.889,0 L 8.125,13.625 4.75,9.501 z";    
    -fx-padding:6 5 0 0;
    -fx-scale-shape: true;
}
.menu:focused:showing .arrow, .menu:hover:showing .arrow, .menu:focused .arrow, .menu:showing .arrow {
    -fx-background-color: -fx-mark-color;
}
.menu-up-arrow {    
    -fx-background-color: -fx-mark-color;    
    -fx-shape: "m 4,17 0,-2.889 4.124,-3.86 4.125,3.86 0,2.889 L 8.124,13.625 4,17 z";
    -fx-padding: 0.0em 0.6em 0.5em 0.0em;   
}
.menu-down-arrow {
    -fx-background-color: -fx-mark-color;    
    -fx-shape: "m 12.249,10.251 0,2.889 L 8.125,17 4,13.14 l 0,-2.889 4.125,3.375 4.124,-3.375 z";
    -fx-padding: 0.5em 0.6em 0.0em 0.0em;    
}
/*******************************************************************************
 *                                                                             *
 * MenuBar                                                                     *
 *                                                                             *
 ******************************************************************************/
.menu-bar {    
    -fx-padding:  0 5 0 5;
    -fx-spacing: 2;    
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom, rgb(190,200,209), rgb(182,190,197));
    -fx-background-insets: 0,1;
}
.menu-bar .menu-button .label {
    -fx-padding: 1 4 1 4;
}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background-color: rgb(173,180,187), linear-gradient(to bottom, rgb(196,203,211), rgb(199,205,212));
    -fx-background-insets: 1,2;   
}
.menu-bar .menu-button:hover {    
    -fx-background-color: rgb(173,180,187), linear-gradient(to bottom, rgb(196,203,211), rgb(199,205,212));
    -fx-background-insets: 1,2;    
}
/*******************************************************************************
 *                                                                             *
 * MenuItem                                                                    *
 *                                                                             *
 ******************************************************************************/
.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 4 5 4 5;
}
.menu-item:focused {
    -fx-background-color: rgb(140,145,152), rgb(213,216,221), linear-gradient(to bottom,rgb(217,221,225) 0%,rgb(215,219,223) 30%,rgb(215,219,223) 50%,rgb(223,227,231) 80%);
    -fx-background-insets: 0 -1 0 -1 ,1 0 1 0,2 1 2 1;   
}
.menu-item:focused .label {
    -fx-text-fill: -fx-text-base-color;
}
.radio-menu-item:checked .radio {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
    -fx-scale-shape: false;
}
.radio-menu-item:focused:checked .radio {
    -fx-background-color: -fx-mark-color;
}
.check-menu-item:checked .check {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
    -fx-scale-shape: false;
}
.check-menu-item:focused:checked .check {
    -fx-background-color: -fx-mark-color;
}
.menu:selected .arrow {
    -fx-background-color: -fx-mark-color;
}
/*******************************************************************************
 *                                                                             *
 * Pagination                                                                  *
 *                                                                             *
 ******************************************************************************/
.pagination .pagination-control .left-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;    
    -fx-padding:7 6 0 0;
    -fx-shape: "m 11.499,17.75 -2.889,0 -3.86,-4.124 3.86,-4.125 2.889,0 -3.375,4.125 3.375,4.124 z";
    -fx-scale-shape: true;
}
.pagination .pagination-control .right-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;    
    -fx-shape: "m 4.75,9.501 2.889,0 3.86,4.124 -3.86,4.125 -2.889,0 L 8.125,13.625 4.75,9.501 z"; 
    -fx-padding:7 6 0 0;
    -fx-scale-shape: true;
}
.pagination .pagination-control .bullet-button {  
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 4,5,6; 
    -fx-background-radius: 4em, 4em, 4em;
    -fx-padding: 0.333em;  
}
.pagination .pagination-control .left-arrow-button{
    -fx-padding: 1;
}
.pagination .pagination-control .right-arrow-button {
    -fx-padding: 1;
}
.pagination .pagination-control .number-button {	 
    -fx-padding: 1 2 1 2;
}
.pagination .pagination-control .bullet-button:hover {  
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);  
}
.pagination .pagination-control .bullet-button:pressed {  
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);
    -fx-background-insets: 4,5,6,7;  
}
.pagination .pagination-control .bullet-button:selected {   
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(209,223,233) 0%,rgb(199,214,224) 100%);       
    -fx-background-insets: 4,5,6;
}
.pagination.bullet .pagination-control .left-arrow-button, .pagination.bullet .pagination-control .right-arrow-button {
    -fx-background-radius: 4em;
}
.pagination .pagination-control .number-button { 
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1,2;
}
.pagination .pagination-control .number-button:hover {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0,1,2;
}
.pagination .pagination-control .number-button:pressed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);
    -fx-background-insets: 0,1,2,3;
}
.pagination .pagination-control .number-button:selected {   
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(209,223,233) 0%,rgb(199,214,224) 100%);       
    -fx-background-insets: 0,1,2;
}
.pagination .pagination-control .page-information {   
    -fx-text-fill: black;
}
/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/
.titled-pane:focused {
    -fx-text-fill: -fx-text-base-color;
}
.titled-pane > .title {	
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0;
    -fx-padding: 2;
}
.titled-pane > .title .text {
    -fx-padding: 0 0 12 0;
}
.titled-pane > .title > .arrow-button {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,4,5,6;
    -fx-background-radius: 4em;
    -fx-padding: 10;
}
.titled-pane:focused > .title .arrow-button {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(209,223,233) 0%,rgb(199,214,224) 100%);
    -fx-background-insets: 4,5,6;
}
.titled-pane:focused > .title, .titled-pane:focused > .title:hover {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(209,223,233) 0%,rgb(199,214,224) 100%);
    -fx-background-insets: 0,1,2;    
}
.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;    
    -fx-shape: "m 12.249,10.251 0,2.889 L 8.125,17 4,13.14 l 0,-2.889 4.125,3.375 4.124,-3.375 z";    
    -fx-padding: 6 7 0 0;
}
.titled-pane:collapsed > .title > .arrow-button .arrow {	
    -fx-padding: 6 0 0 7;
}
.titled-pane > *.content {
    -fx-background-color: rgb(76,81,86), rgb(209,214,219), rgb(228,233,238);
    -fx-background-insets:-1 0 0 0,0 1 1 1,1 2 2 2;
    -fx-padding: 0.167em;
}
.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: -fx-mark-color;
}
/*******************************************************************************
 *                                                                             *
 * Accordion                                                                   *
 *                                                                             *
 ******************************************************************************/
.accordion .titled-pane .title {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0;
}
.accordion .titled-pane:hover > .title {
    -fx-background-color:  rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0,1,2;
}
.accordion .titled-pane:focused > .title,
.accordion .titled-pane:collapsed:focused > .title,
.accordion .titled-pane:expanded:focused > .title {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(209,223,233) 0%,rgb(199,214,224) 100%);
    -fx-background-insets: 0,1,2;
}
.accordion .titled-pane:focused {
    -fx-text-fill: -fx-text-base-color;
}
.accordion .titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: -fx-mark-color;
}
.accordion .titled-pane:focused .titled-pane:collapsed > .title > .arrow-button .arrow {
    -fx-background-color: -fx-mark-color;
}
/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/
.tooltip {
    -fx-background-color:rgb(76,81,86), rgb(209,214,219), rgb(228,233,238);       
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 4 8 4 8;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 4, 0.0 , 4 , 5 );
}
.page-corner {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-shape: " ";
    -fx-effect: null;
}
/*******************************************************************************
 *                                                                             *
 * ColorPicker                                                                 *
 *                                                                             *
 ******************************************************************************/
.color-picker {
}
.color-picker .arrow-button,
.color-picker:hover .arrow-button,
.color-picker:focused:pressed .arrow-button,
.color-picker:showing:focused .arrow-button,
.color-picker:showing:focused:hover .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 6 7 6 0; 
}
.color-picker .color-picker-label .text {
    -fx-padding: 0 10 0 0;
}
.color-picker .split-button .label {   
    -fx-background-color: transparent,rgb(76,81,86),linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1 20 1 1,2 19 2 2,3 18 3 3;    
}
.color-picker .split-button .label:hover {
    -fx-background-color:  transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
}
.color-picker .split-button .label:pressed, .color-picker .split-button:showing .label {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),  rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
}
.color-picker .split-button .arrow-button {
    -fx-background-color:  transparent,rgb(76,81,86),linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0, 1 1 1 0, 2 2 2 1, 3 3 3 1;
    -fx-background-radius: 0;
    -fx-padding: 6 7 6 6;
}
.color-picker .split-button .arrow-button:hover {	
    -fx-background-color:  transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0, 1 1 1 0, 2 2 2 1, 3 3 3 1;
}
.color-picker .split-button .arrow-button:pressed,
.color-picker .split-button:showing .arrow-button,
.color-picker .split-button:showing:hover .arrow-button {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
    -fx-background-insets: 0, 1 1 1 0, 2 2 2 1, 3 3 3 1;    
}
.color-picker .button .arrow-button .arrow {
    -fx-shape:" ";
}
.color-picker .picker-color {
    -fx-padding: 4;
    -fx-scale-x:0.8;
    -fx-scale-y:0.8;
    -fx-background-color: null;
}
.color-picker .picker-color .picker-color-rect {
    -fx-stroke: black;    
}
.color-palette {
    -fx-background-color: rgb(76,81,86), rgb(209,214,219), rgb(228,233,238);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0;
    -fx-padding: 10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}
.color-palette .color-square {
    -fx-background-color: transparent;
    -fx-background-insets: -1;   
    -fx-padding: 0.5;
    -fx-border: black;
}
.color-palette .color-rect {
    -fx-stroke: derive(rgb(228,233,238),-40%);
    -fx-stroke-width: 0.5;
    -fx-border-color: rgb(209,214,219);
}
.color-palette .color-square:focused, .color-palette .color-square:selected:focused {
    -fx-background-color: rgb(76,81,86);        
}
.color-palette .color-square:selected {
    -fx-background-color: rgb(76,81,86);
} 
.color-palette .separator .line { 
    -fx-background-color: rgb(238,239,242),linear-gradient(to right,rgb(228,233,238) 0%,rgb(120,125,130) 15%,rgb(120,125,130) 85%,rgb(228,233,238) 100%);
    -fx-background-insets: 1 1 0 1,1;
    -fx-padding: 3 0 0 0;
}
.color-palette .hyperlink {
    -fx-text-fill: black;
}
/*******************************************************************************
 *                                                                             *
 * ToolBar                                                                     *
 *                                                                             *
 ******************************************************************************/
.tool-bar:horizontal .context-menu {  
    -fx-background-color: rgb(76,81,86), rgb(209,214,219), rgb(228,233,238);
    -fx-background-insets: 0,1,2;
}
.tool-bar:vertical {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom, rgb(190,200,209), rgb(182,190,197));
    -fx-background-insets: 0, 0 1 0 1;    
}
.tool-bar .separator:vertical .line {
    -fx-border-style: solid;
    -fx-background-color: null;
    -fx-border-color:  transparent rgb(120,125,130) transparent transparent;
}
.tool-bar .separator:horizontal .line {
    -fx-border-style: solid;
    -fx-background-color: null;
    -fx-border-color:  transparent transparent rgb(120,125,130) transparent;
}
.tool-bar:horizontal {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom, rgb(190,200,209), rgb(182,190,197));    
    -fx-background-insets: 0, 1 0 1 0;    
}
.tool-bar:horizontal .tool-bar-overflow-button .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-shape: "m 4.75,9.501 2.889,0 3.86,4.124 -3.86,4.125 -2.889,0 L 8.125,13.625 4.75,9.501 z";
    -fx-padding:7 6 0 0;	
}
.tool-bar:vertical .tool-bar-overflow-button .arrow {	
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-shape: "m 4.75,9.501 2.889,0 3.86,4.124 -3.86,4.125 -2.889,0 L 8.125,13.625 4.75,9.501 z";
    -fx-padding:7 6 0 0;
}
.tool-bar:horizontal .tool-bar-overflow-button:focused .arrow,
.tool-bar:vertical .tool-bar-overflow-button:focused .arrow {
    -fx-background-color: #e4e9ee;
    -fx-background-insets: 0;
}
.tool-bar:horizontal .tool-bar-overflow-button:hover .arrow,
.tool-bar:vertical .tool-bar-overflow-button:hover .arrow {
    -fx-background-color: #e4e9ee;
    -fx-background-insets: 0;
}
/*******************************************************************************
 *                                                                             *
 * HTMLEditor                                                                  *
 *                                                                             *
 ******************************************************************************/
.html-editor{
    -fx-border-width: 2;
    -fx-border-color: rgb(76,81,86);
}
.html-editor .top-toolbar:horizontal {
    -fx-background-insets: 1 1 1 1,1,2;
}
.html-editor .bottom-toolbar:horizontal {
    -fx-background-insets: -1 1 0 1,0 1 1 1,2;
}
.html-editor .top-toolbar:horizontal .button, .html-editor .bottom-toolbar:horizontal .button {
    -fx-background-insets: 0,1,2,1;
    -fx-padding: 6 8 6 8;
}
.html-editor .top-toolbar:horizontal .toggle-button, .html-editor .bottom-toolbar:horizontal .toggle-button {
    -fx-background-insets: 0,1,2,1;
    -fx-padding: 6 8 6 8;
}
.html-editor .top-toolbar:horizontal .menu-button {
    -fx-padding:3;
}
.html-editor .bottom-toolbar:horizontal .combo-box {
    -fx-padding:0;
}
.html-editor .web-view .scroll-bar:vertical {
    -fx-translate-x:-2;
    -fx-padding: -2 -3 -2 -3;
}
.html-editor .web-view .scroll-bar:vertical .thumb {
    -fx-background-insets: 0 -3 0 0,1 -2 1 1;	
}
/*******************************************************************************
 *                                                                             *
 * Axis                                                                        *
 *                                                                             *
 ******************************************************************************/
.axis:top {
    -fx-border-color: transparent transparent rgb(76,81,86) transparent;
}
.axis:right {
    -fx-border-color: transparent transparent transparent rgb(76,81,86);
}
.axis:bottom {
    -fx-border-color: rgb(76,81,86) transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent rgb(76,81,86) transparent transparent;
}
.axis-tick-mark {
    -fx-fill: null;
    -fx-stroke: rgb(76,81,86);
}
.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: rgb(76,81,86);
}
/*******************************************************************************
 *                                                                             *
 * Hyperlink                                                                   *
 *                                                                             *
 ******************************************************************************/
.hyperlink:visited {
    -fx-text-fill: gray;
}
.hyperlink:focused {
    -fx-border-color: gray; 
}

/*********************************************************************************/
.grid {
    -fx-border-color: black;
    -fx-border-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}